*{
    box-sizing: border-box;
}
body{
    width: 960px;
    background-image: url("../images/concrete_seamless.png");
}
header{
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
}
h1{
    background-color: #4aaaa5;
    border-color: #cccccc;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    padding: 20px;
    position: relative;
    top: 40px;
    left: 150px;
    width: 250px;
    height: 100px;
}
nav{
    float: right;
    margin-bottom: 25px;
    margin-right: 100px;
}
section{
    width: 650px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
    border-color: #dddddd;
    padding: 10px;
    position: relative;
    left: 30px;
    top: 150px;
}
.photo{
    float: left;
}
article{
    clear: right;

}
h2{
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: #4aaaa5;
    border-bottom: 2px solid #ccc;
    padding: 20px;
    position: relative;
}
aside{
    width: 270px;
    float: right;
    background-color: #ffffff;
    border-color: #cccccc;
}

h3{
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    color: #4aaaa5;
    bottom: 15px;
}
footer{
    clear: both;
    background-color: #666666;
    color: grey;
    text-align: center;
}