body{
    width: 906px;
    background-image: url("concrete_seamless.png");
}
h1{
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    width: 15%;
    padding: 20px;
    text-align: center;
    position: relative;
    left: 100px;
    top: 10px;
}
nav{
    position: relative;
    left: 800px;
    bottom: 20px;
}
section{
    width: 650px;
}
.photo{
    float: left;
}
h2{
    clear: right;
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: #4aaaa5;
    padding: 20px;
    position: relative;
    left: 150px;
}
.bio{
    float: left;
}
aside{
    clear: both;
    width: 270px;
    float: right;
    top: 50px;
}
h3{
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    color: #4aaaa5;
    position: relative;
    left: 700px;
    bottom: 15px;
}
footer{
    background-color: #666666;
    color: grey;
    position: relative;
    left: 5px;
    right: 5px;
    top: 400px;
    padding: 30px;
}
p{
    text-align: center;
}
.auth-image{
    postion: relative;
}